<div class="chat-header">
  <div class="header-left">
    <div class="header-title">
      雑談ルーム
    </div>
  </div>
  <div class="header-right">
    <div class="header-btn">
      <a href="#">チャットを終了する</a>
    </div>
  </div>
</div>

<div class="chat-main">
  <div class="message-container">
    <div class="message-info">
      <div class="messenger-name">
        Tom
      </div>
      <div class="send-date">
        2020/3/31(Wed) 11:22:33
      </div>
    </div>
    <div class="lower-message-info">
      <div class="message">
        おはよう！
      </div>
    </div>
  </div>
  
</div>

<div class="chat-bottom">
  <div class="form-input">
    <input class="form-message" placeholder= "taype a message" >
     <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
     </label>
  </div>
    <input class="form-submit" type="submit" send="送信">
</div>